html {
    height: 100%;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    background-size: cover;
    color: white;
}

span {
    display: block;
}

div {
    margin-top: 20px;
    display: block;
}

button {
    background: transparent;
    border: none;
    color: white;
    opacity: 0.85;
    font-size: 1rem;
}

p {
    margin: 0;
}

.hidden {
    display: none;
}

#search {
    position: fixed;
    margin-top: 0.5em;
    top: 0.2em;
    left: 0.5em;
    background: transparent;
    border: none;
    border-bottom: 1.5px solid white;
    font-size: 1em;
}

#search::placeholder {
    color: white;
}

#search:focus {
    outline: none;
}

#weather {
    position: fixed;
    margin-top: 0.2em;
    top: 0.2em;
    right: 1em;
    text-align: right;
}

#weather span:first-child {
    font-size: 18px;
}

#weather span:last-child {
    font-size: 12px;
    opacity: 0.85;
}

#clock {
    margin-top: 240px;
    line-height: 6.5em;
}

#clock span:first-child {
    font-size: 140px;
}

#clock span:last-child {
    font-size: 30px;
    line-height: 2em;
    margin-top: 0.5em;
}

#login {
    font-size: 40px;
}

#login input, #todo input {
    background-color: transparent;
    border: none;
    color: white;
    border-bottom: 1.5px solid white;
}

#login input {
    font-size: 40px;
    text-align: center;
}

#login input:focus, #todo input:focus {
    outline: none;
}


#welcome {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 2em;
}

#welcome span {
    display: inline;
}


#quote span:first-child {
    font-style: italic;
}

#quote span:last-child {
    font-size: 12px;
    opacity: 0.85;
}

#todo, #focus {
    position: fixed;
    bottom: 0.5em;
    right: 1em;
    text-align: right;
}

#todo input {
    font-size: 1em;
}

#todo input::placeholder {
    color: white;
}

#focus span {
    display: inline;
    font-size: 1.5em;
}

#img {
    position: fixed;
    bottom: 0.5em;
    text-align: left;
    font-size: 14px;
}

#img span:last-child {
    font-size: 8px;
    opacity: 0.85;
}